<div class="jumbotron">
  <div class="search-form-landing">

    <form accept-charset="UTF-8" action="/search/results" id="new_site_search" method="get" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
      <div class="input-group">
        <div class="pull-left">
        <div class="company-search-input-container">
          <input id="site_search_term" name="q" placeholder="Enter a Company Name" size="50" style="float: none; position: relative; vertical-align: top;" type="text" autocomplete="off" spellcheck="false" dir="auto">
        </div>
      </div>
        <div class="pull-right">
          <input class="hidden bb-dropdown-select-field js-listing-type" data-required-field="required-field" id="site_search_listing_type" name="listing_type" type="hidden">
      <input class="js-search-by-type" id="search_by_type" name="search_by_type" type="hidden" value="by_location">
      <input id="enhanced" name="enhanced" type="hidden" value="">
        <input class="btn btn-info" name="commit" type="submit" value="Search">
      </div>
    </div>

    <div class="error-message hidden">
      <div class="hint has-error">
        <div class="help-block message"></div>
      </div>
    </div>
  </form>
  <div class="toggle-input-container">
    <a href="#" class="toggle-input-topic">Search by Topic Instead</a>
  </div>
</div>
</div>

</div>
