<div class="jumbotron">
  <h4 id="index-header">The female entrepreneur's comprehensive catalogue of the best business education, resources, tools and networks.</h4>
</div>

<div class="panel panel-default">
  hi
</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("pink-juice.jpg") %>
      <div class="carousel-caption">
        <h1>the maeven collective</h1>
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/floral-vase.jpg") %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/computer-tea.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/sunglasses.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
