<div class="container">
  <h2 id="admin-header-dashboard">Offering Show Page
  </h2>
  <%= @offering.name %>
  <%= link_to "Delete this offering", admin_offering_path(@offering), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>
  <% @offering.tags.each do |tag| %>
  <span class="label label-default"><%= tag.name %></span>
</ul>

  <% end %>
</div>
