<div class="container">

  <div class="row">
    <% @topics.each do |tag| %>
    <div class="col-md-4">
    <h4 style="font-weight:200; padding-bottom:10px;"><%= tag.name.capitalize %></h4>
    </div>
    <% end %>
  </div>
</div>
