/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a.navbar-brand {
  font-size: 2em !important;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}

.carousel-inner {
  max-height: 300px;
}

#admin-header-dashboard {
  text-align: center;
}

.btn-success {
  background-color: #D6707D !important;
  background-image: none !important;
  border: 1px solid #D6707D  !important;
}

.btn-success:hover {
  background-color: #BB5C68 !important;
}

.btn-warning {
  background-color: #F9B961 !important;
  background-image: none !important;
  border: 1px solid #F9B961  !important;
}

.btn-warning:hover {
  background-color: #E4A651 !important;
}

.btn-primary {
  font-family: 'Caveat', cursive;
  background-color: #7aaf4b !important;
  background-image: none !important;
  border: 1px solid #7aaf4b  !important;
}

.btn-primary:hover {
  background-color: #458226 !important;
}

#index-header {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 2.5em;
  color: grey;
}

#maeven-landing {
  color: #D6707D;
}

.jumbotron {
  background-image: url("pink-green-flowers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 29em;
  z-index: -1;
  margin-top: -1.5em;
}

.search-form-landing{
  background-color: none;
  opacity: 80%;
  margin-top: 9%;
  margin-right: 30%;
  margin-left: 30%;
}

.pull-right {
  margin-left: 30px;
  margin-top: 5px;
}

.pull-left {
  margin-left: 10px;
  margin-top: 5px;
}

input#site_search_company {
  height: 2.5em;
}

input#site_search_topic {
  height: 2.5em;
}

.toggle-input-container {
  margin-left: 1em !important;
  margin-top: 1em !important;
  font-weight: bold;
  opacity: 90%;
}

.toggle-input-topic {
  color: white;
}

.toggle-input-company {
  color: white;
}

.get-started {
  text-align: center;
}

#laptop-pic {
  display: inline-block;;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
  text-align: center;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.hidden  {
  display: none;
}

div.nav.navbar-nav.navbar-left {
  padding-top: 0.8em;
}

div.nav.navbar-nav.navbar-right.footer {
  padding-top: 0.1em;
  color: grey;
  font-size: 2.5em;
  font-weight: lighter;
}

nav.navbar.navbar-default.navbar-bottom {
  margin-top: 100px;
}

.footer-icon {
  padding-left: 0.5em;
}

#featured-courses {
  font-family: 'Raleway', sans-serif;
}
