/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

#index-page-header {
  font-size: 2.1em;
  font-weight: lighter;
  text-align: center;
  font-family: 'Lora', serif;
  margin-top: -4%;
}

#index-page-header a {
  color: black;
  text-decoration: none;
}


.navbar.navbar-default.navbar-top {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default.navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.collapse.navbar-collapse {
  background-color: white;
}

.index-sub-nav {
  text-align: center;
  font-size: 1.1em;
  font-family: 'Raleway', serif;
  margin-top: -3%;
}

#sub-nav-learn {
  padding-right: 14em;
}

#sub-nav-learn a{
  color: black !important;
}


#sub-nav-resources a{
  color: black !important;
  padding-left: 8em;

}

#sub-nav-favorites {
  padding-left: 12em;
}

#sub-nav-favorites a{
  color: black !important;
}


.carousel-inner {
  height: 20em;
}

#admin-header-dashboard {
  text-align: center;
}

.btn-success {
  background-color: #D6707D !important;
  background-image: none !important;
  border: 1px solid #D6707D  !important;
}

.btn-success:hover {
  background-color: #BB5C68 !important;
}

.btn-warning {
  background-color: #F9B961 !important;
  background-image: none !important;
  border: 1px solid #F9B961  !important;
}

.btn-warning:hover {
  background-color: #E4A651 !important;
}

.btn-primary {
  font-family: 'Caveat', cursive;
  background-color: #7aaf4b !important;
  background-image: none !important;
  border: 1px solid #7aaf4b  !important;
}

.btn-primary:hover {
  background-color: #458226 !important;
}

.btn-homepage {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  width: 8em !important;
}


#index-header {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 2.5em;
  color: grey;
}

#maeven-landing {
  color: #D6707D;
}


.jumbotron {
  /*background-image: url("pink-green-flowers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 29em;
  z-index: -1;*/
  /*margin-top: -1.5em;*/
  margin-top: 1em;
  background-color: white !important;
}

.page-header {
  border: none !important;
}

.search-form-landing{
  background-color: none;
  opacity: 80%;
  margin-top: 3%;
  margin-right: 20%;
  margin-left: 20%;
  width: 80%;
}

.glyphicon-send:before{
  color: #5bc0de;
}

.pull-right {
  margin-left: 30px;
  margin-top: 5px;
}

.pull-left {
  margin-left: 1px;
  margin-top: 5px;
}

input#site_search_company {
  height: 2.5em;
}

input#site_search_topic {
  height: 2.5em;
}

#site_search_format{
  display: inline;
}

#site_search_topic{
  display: inline-block;
  vertical-align: top;
}

.topic-search-input-container{
  width: 100%;
}

.toggle-input-container {
  display: block;
  margin-top: 1em !important;
  font-family: 'Helvetica Neue';
  color: grey;
}

.toggle-input-topic {
  color: grey;
  display: inline-block;
  font-size: 0.9em;
  padding-left: 0.3em;
}

.toggle-input-company {
  color: grey;
  display: inline-block;
  font-size: 0.9em;
  padding-left: 0.3em;
}

.get-started {
  text-align: center;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.92em;
  padding-left: 0.3em;
}

:-moz-placeholder {
  font-style: italic;
  font-size: 0.92em;
  padding-left: 0.3em;
}

::-moz-placeholder {
  font-style: italic;
  font-size: 0.92em;
  padding-left: 0.3em;
}

:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.92em;
  padding-left: 0.3em;
}

#laptop-pic {
  display: inline-block;;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
  text-align: center;
}

.carousel {
  margin-bottom: -3%;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.carousel-title {
  text-align: center;
  font-family: "Raleway", serif;
}

.center-block-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}

.hidden  {
  display: none;
}

div.nav.navbar-nav.navbar-left {
  padding-top: 0.8em;
}

div.nav.navbar-nav.navbar-right.footer {
  padding-top: 0.9em;
  color: grey;
  font-size: 1em;

}

nav.navbar.navbar-default.navbar-bottom {
  margin-top: 100px;
}

.footer-icon {
  padding-left: 0.5em;
}

#featured-courses {
  font-family: 'Raleway', sans-serif;
}

.pop-topics {
  font-weight: bold;
  font-family: 'Lora', serif;
}

.decorated{
  overflow: hidden;
  text-align: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  padding-top: 2em;
 }

.decorated > span{
  position: relative;
  display: inline-block;
}
.decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 0.5px dotted;
  width: 591px; /* half of limiter*/
  margin: 0 20px;
}

.decorated > span:before{
  right: 100%;
}

.decorated > span:after{
  left: 100%;
}

#what-is-maeven {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  font-style: italic;
}

#view-all-left a {
  margin-left: 47%;
  color: black;
  font-size: 1.3em;
  font-weight: normal;
}

#view-all-right {
  color: black;
  margin-right: 20%;
  font-weight: normal;
}

#view-all-right a {
  color: black;
  font-size: 1.3em;
  font-weight: normal;
}

.view-all-topics a {
  text-align: center;
  color: black;
  margin-left: 48%;
  font-size: 1.3em;
  font-weight: normal;
}


.read-more {
  font-weight: bold;
  font-family: 'Lora', serif;
  text-decoration: underline;
}

.mid-index-title {
  font-family: "Raleway", serif;
  font-style: italic;
  font-size: 1.5em;
}

.mid-index-sub-title {
  font-weight: bold;
  font-family: 'Lora', serif;
}

.mid-index-p {
  font-weight: lighter;
  font-family: Helvetica;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.featured-company {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.search-results-right {
  border-left: 1px solid grey;
}

.search-results-left {
  font-family: 'Raleway', sans-serif;
}

.search-form-company-index {
  margin-left: 5em;
}

.pagination-orgs {
  padding-top: 1em;
  padding-left: 60em !important;
}

.pagination-orgs a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
  padding: 0.2em 0.5em;
}

.pagination-orgs .current {
  padding: 0.2em 0.5em;
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.pagination-orgs .disabled {
  padding: 0.2em 0.5em;
  color: #999999;
  border: 1px solid #dddddd;
}

input#index-search-company {
  width: 1em !important;
}

button#show-all-orgs.btn.btn-success a {
  color: white ;
}

select#category_category_id {
  height: 2.2em;
  width: 25em;
}

select#sort_sort_order {
  height: 2.2em;
  width: 30em;
}

.label a {
  color: white
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.tt-menu {
  background-color: white;
  width: 100%;
  opacity: 50%;
  border: 1px solid grey;
}

div.tt-suggestion {
  padding-left: 5px;
}

div.sort-company-list{
  width: 90%;
}


#scrollable-dropdown-menu .tt-menu {
  max-height: 110px;
  overflow-y: auto;
}


.dropbtn {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 0.85em;
  border: 1px solid black;
  cursor: pointer;
  width: 90%;
  text-align: left;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  font-family: 'Raleway', serif;
}

.dropdown-sort {
  position: relative;
  display: inline-block;
  width: 50%;
  font-size: 0.9em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 90%;
  font-size: 0.85em;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown-content a:hover {background-color: grey}

.dropdown-sort:hover .dropdown-content {
  display: block;
}

.dropdown-sort:hover .dropbtn {
  background-color: white;
  color: black;
}

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.image:before {
  vertical-align: middle;
  min-height: 150px;
  overflow: visible;
}

.image {
  -moz-box-sizing: border-box;
  border: 1px solid #DDDDDD;
  margin-bottom: 10px;
  padding: 10px;
}
/*
.graphic-container {
	position: static;
	vertical-align: baseline;
	display: inline-block;
}*/

.delete .delete-button .organization {
  background-color: #D6707D;
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 35px;
  border-radius: 90%;
  opacity: 0.7;
  z-index: 1;
}

.delete .delete-button .course {
  background-color: grey;
  position:absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 35px;
  border-radius: 90%;
  opacity: 0.7;
}

#sort-results {
  font-style: italic;
  font-size: 0.9em;
  padding-right: 1em;
}

button.sort-order{
  color: #b59a76;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 0.9em;
  padding-right: 1em;
}


button.sort-order a:hover {
  color: #2aabd2;
}

.result-name {
  font-size: 1.2em;
  font-family: 'Raleway', serif;
}

div#reserve-spot-div.well {
  background-color: #ffedd9;
  background-image: none;
  border-radius: 0;
  border: none;
  height: 130px;
}

#reserve-spot-title{
  font-family: 'Raleway', serif;
  text-align: center;
  padding-top: 1em;
}

#buy-tickets {
  font-weight: bold;
  text-align: center;
}


div#offering-details.well {
  border: 0.5px solid #d3d3d3;
  background-color: white;
  background-image: none;
  border-radius: 0;
  margin-top: 2em;
}
