<div class="container">

  <h3 style="text-align:center; padding-bottom: 20px;">Featured Company</h3>
  <h3><%= @featured.name %></h3>
  <%= image_tag @featured.avatar.url(:medium) %>

  <div class="row">
    <% @organizations.each do |organization| %>
    <div class="col-md-4">
    <h4 style="font-weight:200; padding-bottom:10px;"><%= link_to organization.name.capitalize, organization_path(organization) %></h4>
    <%= image_tag organization.avatar.url(:square) %>
    </div>
    <% end %>
  </div>
</div>
