<nav class="navbar navbar-default navbar-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
  </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-nav navbar-left">
        <%= link_to image_tag "instagram.png", size: "30x30"  %>
        <label class="footer-icon"><%= image_tag "email-circle.png", size: "30x30" %></label>
        <label class="footer-icon"><%= image_tag "facebook.png", size: "30x30" %></label>
    </div>
    <div class="nav navbar-nav navbar-right footer">
      <h4>HELP
      <span class="footer-icon">CONTACT<label>
      </h4>
  </div>
  </div>
</nav>
